body {
    overflow-y: hidden;
}

.content {
    height: calc(100vh - var(--navbar-height));
    margin: 0px;
}

.section_1 {
    height: 160px;
    padding: 10px;
}

.section_2 {
    height: calc(100vh - var(--navbar-height) - 180px);
    background: #7F9D9D;
    overflow-y: auto;
}

#searchbar {
    margin-left: 10px;
}