@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

.content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 20px 20px;
}

.span_format{
    display: flex;
    flex-direction: row;
}

.span_format label{
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
}

.container_buttons{
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 20px 10px;
}

.button1{
    width: 283px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 52px;
    border: 10px solid #FE5F55;
    background: #FFF;
}

.button2{
    width: 351px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 52px;
    border: 10px solid #4F6367;
    background: #FFF;
}

.errorspace{
    width: 100%;
    text-align: center;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
}