#back {
    position: absolute;
    right: 10px;
}

body {
    overflow: hidden;
}

.content {
    height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
}

.section_1 {
    flex: 1 0 auto;
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.section_2 {
    flex: 0 1 auto;
    overflow-y: auto;
    background: #7F9D9D;
}

#searchbar {
    margin-left: 10px;
}