@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');


.LoginBox{
    width: 100%;
    height: 167px;
    flex-shrink: 0; 
    padding: 10px;
    text-align:left;
    flex-direction: row;
}
  
  .LoginBox label{
    background: inherit;
    font-family: 'Sen', sans-serif;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    color: #4F6367; 
  }
  
  .LoginBox input{
    margin: 0.5rem 0;
    padding: 1rem;
    border-color: #4F6367;
    border-radius: 5px;
    cursor: pointer;
  }

  .button_container{
    height: 100px;
    width: 300px;
    display: flex;
    justify-content: flex-start;
    flex-shrink: 0;
    align-content: flex-start;
  }
  
  .ButtonStyle1{
   
    border: 10px solid #FE5F55;   
  }
  
  .ButtonStyle2{
    
    border: 10px solid #4F6367; 
    
  }
  
  .LoginBox button{
  /* Rectangle 21 */
  
    box-sizing: border-box;
    border-radius: 52px;
    width: 252px;
    height: 77px;
    border-radius: 52px;
    background: #FFFFFF;
  
  }