#content {
    min-height: calc(100vh - var(--navbar-height));
    display: flex;
    flex-direction: column;
}

#back {
    position: absolute;
    left: 10px;
}

#title {
    font-size: 50px;
    text-align: center;
}

.section_1 {
    background-color: aliceblue;
}

.section_2 {
    flex-grow: 1;
    background-color: yellow;
}