#back {
    position: absolute;
    right: 10px;
}

body {
    overflow: hidden;
}

.content {
    min-height: calc(100vh - var(--navbar-height));
}

.section_1 {
    min-height: 80px;
    height: calc(20vh - var(--navbar-height));
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.section_2 {
    height: 80vh;
    background-color: aqua;
    overflow-y: auto;
}