#back {
    position: absolute;
    right: 10px;
}


.content {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    min-height: calc(100vh - var(--navbar-height));
}

.section_1 {
    order: 1;
    flex: 2 0 20%;
    display:flex;
    justify-content: center;
    flex-direction: column;
    /* background-color: white; */
}

.section_2 {
    order: 2;
    flex: 8 0 80%;
    background-color: blue;
}