@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');



.parent_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.sub_container{
    height: 100%;
    width: 80%;
    color: #B8D8D8;
}

.parent_sidebar{
    height: max-content;
    width: 20%;
    background-color: white;
    display: flex;
    flex-direction: row;
    
}

.parent_sidebar p{
    border: 2px;
    border-color: black;
    width: inherit;
    height: 10%;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
}

.parent_sidebar Link{
    border: 2px;
    border-color: black;
    width: inherit;
    height: 10%;
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
}

.parent_sidebar ul{
    background-color: white;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: flex-start;
}

.security_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 20px 20px;
}

.description_container{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    width:100%;
    gap: 5px;
}

.billing_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    align-content: center;
}

.billing_container_span{
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 20%;
    gap: 0px 200px;
}

.billing_search{
    border: #4F6367;
    border-radius: 5px;
    height: 75%;
}

.billing_result_box{

}

.billing_container h1{
    font-family: 'Sen', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
}

.security_container label{
    font-family: 'Sen', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
    padding-right: 10px;
    white-space: normal;
    width: 200px;
}

.general_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 20px 20px;
    
    
}

.general_container label{
    font-family: 'Sen', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
    white-space: normal;
    width:200px;
    
}

.general_container img{
    height: 276px;
    width: 276px;
}

.container_buttons{
    width: 50%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 20px 20px;
}

.button1{
    width: 283px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 52px;
    border: 10px solid #FE5F55;
    background: #FFF;
}

.button2{
    width: 351px;
    height: 77px;
    flex-shrink: 0;
    border-radius: 52px;
    border: 10px solid #4F6367;
    background: #FFF;
}

.button3{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: 10px solid #4F6367;
    background: #FFF;
}

.image_container{
    display: flex;
    flex-direction: column;
    flex-direction: flex-end;
    height: 50vh;
    width: 75vh;
    gap: 10px 10px;
    padding-left: 10px;
    border: 5px;
    border-color: #4F6367;
}

.image_container label{
    font-family: 'Sen', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
}

.image_container span{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.image_container img{
    width: 100%;
    height: 100%;
    
}