@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

.parent_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
}

.parent_sidebar{
    height: 100%;
    width: 20%;
    color: white;
}

.parent_sidebar li{
    border: 2px;
    border-color: black;
    width: inherit;
    height: 35vh;
}

.security_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

.general_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
}

