@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

.subpage{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: center;
    width: 100%;
    height: 100%;
    padding: 2%;
    gap: 10px 10%;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 5px;
    margin: 5px 0px;
    overflow: auto;
    box-sizing: border-box;
    border-radius:3px;
    font-family: 'Sen', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
    white-space: normal;
    border-radius: 2px;
    border-color:#4F6367;
    width: 100%;
}

#empty_result{
    overflow: auto;
    background-color: white;

    width: 100%;
    height: calc(100vh - var(--navbar-height) - 100px);
}

#search {
    background-color: white;
    width:fit-content;
    display: flex inline;
    border: 4px solid var(--red);
    border-radius: 30px;
    align-items: center;
}

#img {
    background-color: var(--red);
    height: 16px;
    width: auto;
    padding: 5px;
    margin: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#input {
    border:none;
    height: 0.2em;
    vertical-align: middle;
    color: var(--red);
    outline: none;
    cursor: default;
}

#user {
    font-family: 'Sen', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal; 
    color:#4F6367;
    white-space: normal;
}