.p {
    margin: 0px 5px 0px 0px;
    font-size: 18px;
    text-align: end;
}

.label {
    width: auto;
}

.input {
    margin: 5px 5px;
    white-space: wrap;
}

#content {
    height: calc(100vh - var(--navbar-height));
    min-height: calc(100vh - var(--navbar-height));
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto;
}

#form_container {
    display: inline grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    width: 100%;
    row-gap: 10px;
}

#section_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#img {
    margin-top: 50px;
    width: 70%;
    height: auto;
}

#save {
    position: absolute;
    right: 150px;
    bottom: 10px;
}

#cancel {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#delete_event {
    position: absolute;
    left: 0px;
    bottom: 10px;
}

.col_1 {
    grid-column: 1 / 1;
}

.col_2 {
    display: inline grid;
    grid-column: 2 / 2;
}

.col_3 {
    display: inline grid;
    grid-column: 3 / 3;
}

.col_2_3 {
    display: inline grid;
    grid-column: 2 / 3;
}