#content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--light-gray);
    margin: 10px 0px;
    width: 100%;
    gap: 30px;
}

#user_pfp {
    margin-left: 5px;
}

#buttons {
    margin: 0px 5px 0px auto;
    background-color: aliceblue;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

#checkin_button {
    justify-content: flex-end;
    width: 60px;
    cursor: pointer;
}

#delete_button {
    cursor: pointer;
}

.p {
    font-size: 30px;
    margin: 10px 0px;
}

.redeemed {
    background-color: lightgreen !important;
}