.container {
    background-color: var(--dark-green);
    display: flex;
    flex-direction: column;
    padding: 10px 15px 10px 15px;
    width: 100%;
    margin: 5px 0px;
    overflow: auto;
    box-sizing: border-box;
}