@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px 0px;
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
}

.test {
    background-color: red;
}