
#name {}
#username {}
#password {}
#location {}
#hide_location {}
#description {}

#content {
    min-height: calc(100vh - var(--navbar-height));
    display: grid;
    grid-template-columns: 800px auto;
    grid-template-rows: auto;
    column-gap: 40px;
}

#section_1 {
    grid-row: 1;
    grid-column: 1;

}

#section_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    
    grid-row: 1;
    grid-column: 2;
    
    height: 100%;
}

#back {
    position: absolute;
    right: 10px;
}

#ticket {
    width: 80%;
    height: auto;
    fill: var(--light-gray);
    stroke-width: 30px;
    stroke: var(--dark-green);
    stroke-linecap: round;
    stroke-linejoin: round;
}

#pfp_display {
    justify-self: center;
}

.p {
    margin: 0px 5px 0px 0px;
    font-size: 18px;
    text-align: end;
}

.label {
    width: auto;
}

.input {
    margin: 5px 5px;
    width: auto;
}

#formContainer {
    display: inline grid;
    grid-template-columns: 400px 350px auto;
    grid-template-rows: auto;
}

.validation {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-align: end;
}

#user_type {
    display: grid;
    justify-content: center;
    grid-template-rows: auto;
    grid-template-columns: auto auto; 
}

#toggle_password {
    font-size: 10px;
    border-width: 3px;
    justify-self: end;
}

#sign_up_button {
    grid-column: 1 / 3;
    justify-self: center;
}

.col_1 {
    grid-column: 1 / 1;
}

.col_2 {
    display: inline grid;
    grid-column: 2 / 2;
}

.col_3 {
    display: inline grid;
    grid-column: 3 / 3;
}

.col_2_3 {
    display: inline grid;
    grid-column: 2 / 3;
}