@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

:root {
  /**Colors**/
  --dark-green: #516365;
  --green: #4F6367;
  --subtext-green: #6a7678;
  --light-green: #B8D8D8;
  --light-gray: #D9D9D9;
  --dark-grey-alpha: hsla(0, 0%, 31%, 0.6);
  --red: #FE5F55;
  --eventbg-blue: #A8DDE9;
  --eventnamebg-blue: rgb(195, 232, 236);
  --white: white;
  --ticket-redeemed: lightgreen;
  
  /**Distances**/
  --navbar-height: 50px;
  --label-gap: 35px;
  --svg-size: 40px;
  
  /**Fonts**/
  --input-font-size: 20px;

}

/**Class Styling**/
.item_10 {
  flex-basis: 10%;
}

.item_20 {
  flex-basis: 20%;
}

.item_40 {
  flex-basis: 40%;
}

.item_50 {
  flex-basis: 50%;
}

.item_60 {
  flex-basis: 60%;
}

.item_70 {
  flex-basis: 70%;  
}

.item_80 {
  flex-basis: 80%;
}

.item_90 {
  flex-basis: 90%;
}

.img_small {
  width: 20px;
  height: 20px;
}

.img_medium {
  width: 100px;
  height: 100px;
}

.subtext {
  color: var(--subtext-green);
}

.text_valid {
  color: var(--dark-green)
}

.text_invalid {
  color: var(--red);
}

.button_enabled {
  border: 7px solid var(--dark-green);
  color: var(--dark-green);
}

.button_disabled {
  color: var(--red);
  cursor: not-allowed;
  border: 7px solid var(--red);
}

.invalid {
  color: var(--red);
}

/**Element Styling**/
body, html, #root, .App {
  background: var(--light-green);
  padding: 0;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;

  font-family: 'Sen', sans-serif;
  font-weight: bold;
  color: var(--green);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  color: var(--green);
}

h1 {
  font-size: 40px;
  margin:0.25em 0 0.25em 10px;
  padding:0em;
  vertical-align: middle;
}

h2 {
  font-size: 32px;
  margin:0.25em 0 0.25em 10px;
  padding:0em;
  vertical-align: middle;
}

label {
  display:inline-block;

  font-size: 40px;
  margin:0.25em 0 0.25em 10px;
  padding:0em;
  vertical-align: middle;
  width: 5em;
  text-wrap: nowrap;
}

input {
  padding: 10px;
  border: 4px solid var(--dark-green);
  margin:0.25em 0 0.25em 10px;
  border-radius: 5px;

  vertical-align: middle;
  width: 16em;

  cursor: pointer;
  color: var(--dark-green);
  font-family:'Sen', sans-serif;
  font-weight: bold;
  font-size: var(--input-font-size);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

button {
  color: var(--red);
  background: white;
  cursor: pointer;

  text-align: center;
  font-size: 32px;
  font-family: 'Sen', sans-serif;
  font-weight: bold;

  border-radius: 52px;
  padding: 0.15em 0.3em 0.15em 0.3em;
  margin:0.25em 0 0.25em 10px;
  border: 7px solid var(--red);
  vertical-align: middle;
  transition: transform 0.5s ease;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

a {
  color: var(--red);
  text-decoration: none;
}

a.link-active {
  color: var(--green);
}

svg, img {
  width: var(--svg-size);
  height: var(--svg-size);
  align-self: center;
}