@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;500;600;700;800&display=swap');

:root {
  /**Colors**/
  --dark-green: #516365;
  --green: #4F6367;
  --subtext-green: #6a7678;
  --light-green: #B8D8D8;
  --light-gray: #D9D9D9;
  --red: #FE5F55;

  /**Distances**/
  --navbar-height: 50px;
  --label-gap: 35px;
}

/**Class Styling**/
.subtext {
  color: var(--subtext-green);
}

/**TODO implement button selection**/
.button-selected {
  color: var(--dark-green);
  border: 7px solid var(--dark-green);
}

/**TODO implement button
.button-deselected {
  color: var(--red);
  border: 7px solid var(--red);
}

/**Element Styling**/
body {
  background: var(--light-green);
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;

  font-family: 'Sen', sans-serif;
  font-weight: bold;
  color: var(--green);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 40px;
  margin:0.25em 0 0.25em 10px;
  padding:0em;
  vertical-align: middle;
}

h2 {
  font-size: 32px;
  margin:0.25em 0 0.25em 10px;
  padding:0em;
  vertical-align: middle;
}

label {
  display:inline-block;

  font-size: 40px;
  margin:0.25em 0 0.25em 10px;
  padding:0em;
  vertical-align: middle;
  width: 5em;
  text-wrap: nowrap;
}

input {
  padding: 10px;
  border: 4px solid var(--dark-green);
  margin:0.25em 0 0.25em 10px;
  border-radius: 5px;

  vertical-align: middle;
  width: 16em;

  cursor: pointer;
  color: var(--dark-green);
  font-family:'Sen', sans-serif;
  font-weight: bold;
  font-size: 20px;
}

button {
  color: var(--red);
  background: white;

  text-align: center;
  font-size: 32px;
  font-family: 'Sen', sans-serif;
  font-weight: bold;

  border-radius: 52px;
  padding: 0.15em 0.3em 0.15em 0.3em;
  margin:0.25em 0 0.25em 10px;
  border: 7px solid var(--red);
  vertical-align: middle;
}

svg {
  width: 40px;
  height: 40px;
}